$ideNavBar: #001e2d;
$sideNavBarHover: #001b29;
$fontColor: #31475f;
$primaryColor: #c4ca18;
$lightBackground: #f6f7f9;

.activated_background {
  background-color: $primaryColor;
}

.activated_background_links {
  color: $primaryColor;
}

.discover {
  @media (max-width: 768px) {
    right: -100%;
  }
}

.positioning-lower-input {
  margin-top: 15px;
}
